{% load static %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<section class="section">

    <div class="sec-head rows">
        <h2 class="dashed-shadow">
            Our popular destinations
        </h2>
    </div>

    <div class="rows">

        <div class="card z-depth-5">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="{% static 'main/img/place1.jpeg' %}" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Card title</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>

            </div>

        </div>
        <div class="card z-depth-5">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="{% static 'main/img/place2.jpeg' %}" alt="Card image cap">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Card title</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>

            </div>

        </div>
        <div class="card z-depth-5">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="{% static 'main/img/place3.jpeg' %}" alt="Card image cap">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Card title</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>

            </div>

        </div>
    </div>


</section>